<html>
<body>
<h1> Here's how it works </h1>
<!--begin.rcode code-chunk-1
set.seed(19390909) # For reproducibility
a <- rnorm(100) # Some data for analysis
result <- mean(a)
   end.rcode-->
The mean of the 100 numbers was <!--rinline result -->  
</body>
</html>

