<html>
<body>
<h1> Example 2</h1>
<!--begin.rcode code-chunk-2, fig.width=4,fig.height=3,echo=-1,eval=TRUE,fig.path='htmlfig-'
set.seed(19390909) # For replication
a <- rnorm(100) # Some data for analysis
hist(a)
   end.rcode-->
I like that histogram! 
</body>
</html>
